@model Carrito_C.Models.Producto

@{
    ViewData["Title"] = "Crear producto";
}

<h4>Crear producto</h4>

<div class="row"
    <div class="col-md-4">
        <form asp-action="CrearProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVigente" class="control-label"></label>
                <input asp-for="PrecioVigente" class="form-control" />
                <span asp-validation-for="PrecioVigente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenArchivo" class="control-label"></label>
                <input asp-for="ImagenArchivo" class="form-control" placeholder="Si la imagen ya está cargada, ingrese el nombre con su extensión. Ej: 'zapatilla.jpg'. Sino deje el espacio en blanco."/>
                <span asp-validation-for="ImagenArchivo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> Activo
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductoDelMes" /> @Html.DisplayNameFor(model => model.ProductoDelMes)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear producto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
