@model IEnumerable<Carrito_C.Models.StockItem>
@{
    ViewData["Title"] = "Crear Stock";
}

<div class="container">
    <div class="alert alert-warning text-center" role="alert">
        No hay Productos para agregar al Stock
    </div>
</div>
