@{
	ViewData["Title"] = "Quienes Somos";
}

<div class="container">
    <h2 class="text-center text-uppercase">
        Sobre Nosotros
    </h2>
    <div class="container d-flex justify-content-center mt-4">
        <img src="~/img/running.jpeg" alt="Nosotros" class="img-fluid" width="300" height="500" />
    </div>
    <p class="text-justify text-center mt-4">
        Un grupo de amigos, bajo la misma pasión, el TRAIL.
    </p>
    <p class="text-justify text-center">
        Decidimos traer a la puerta de sus casas la solución al inconveniente de este deporte. El faltante de zapatillas a nivel nacional.
    </p>
    <p class="text-justify text-center">
        Sabemos que lo necesitaban, sabemos que lo pedían, por eso en el 2019 bajo contexto de pandemia decidimos emprender. Acá estamos para ayudarlos.
    </p>
</div>
