@model Login

@{
    ViewData["Title"] = "Iniciar sesion";
}

<hr />

<div class="row justify-content-lg-center"
    <div class="col-md-4">
        <form asp-action="IniciarSesion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-black">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
             </div>
             <div class="form-group text-black">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
             </div>
             <div class="form-group text-black">
                <label asp-for="Recordarme" class="form-check-label"></label>
                <input asp-for="Recordarme" class="form-check-control" />
                <span asp-validation-for="Recordarme" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <input type="submit" value="Login" class="btn btn-primary" />
             </div>
             <p class="text-justify text-black">
                 ¿Nuevo a ShoesBrand? 
                <a asp-action="Registrar"> Registrese</a>
            </p>
         </form>
     </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }




